* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    padding: 30px;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
}

h1 img{
    width: 240px;
    height: 70px;
    vertical-align: middle;
}

.card h2 {
    margin-bottom: 15px;
}

.dashboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    flex: 1 1 calc(50% - 20px); 
    max-width: 700px;
}
